/* General CSS */
#experience {
  background-color: rgb(245, 245, 245);
  position: relative;
}

#experienceHeader {
  text-align: center;
  font-size: 1.8em;
  margin: 0;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

@media screen and (min-width: 520px) {
  #experienceHeader {
    font-size: 2.2em;
  }
}