/* General CSS */
#experience {
  background-color: rgb(245, 245, 245);
  position: relative;
  padding-bottom: 5%;
}

#experienceHeader {
  text-align: center;
  font-size: 1.8em;
  margin: 0;
  padding-top: 10%;
  padding-bottom: 10%;
}
