#landing {
  width: 100%;
  height: 100%;
}

#landingGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

#landingWelcomeMessage {  
  color: #000;
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
  animation-name: landingWelcomeMessageFadeIn; 
  animation-duration: 1.5s; 
}

@keyframes landingWelcomeMessageFadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#landingWelcomeCaption {
  color: #2196F3;
  font-size: 1.1rem;
  margin-top: .75rem;
  margin-bottom: 0;
  animation-name: landingWelcomeCaptionFadeIn; 
  animation-duration: 1.5s; 
}

@keyframes landingWelcomeCaptionFadeIn {
  0% {opacity: 0;}
  40% {opacity: 0;}
  100% {opacity: 1;}
}

#landingArrow {
  animation: landingArrowFadeIn;
  animation-duration: 1.8s;
}

@keyframes landingArrowFadeIn {
  0% {opacity: 0;}
  75% {opacity: 0;}
  100% {opacity: 1;}
}

/* Media Queries for mobile responsive design  */
@media screen and (min-width: 520px) {
  #landingWelcomeMessage {
    font-size: 3.5rem;
  }
  #landingWelcomeCaption {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 750px) {
  #landingWelcomeMessage {
    font-size: 5rem;
  }
  #landingWelcomeCaption {
    font-size: 1.8rem;
  }
}

