/* General CSS */
#moreAboutMe {
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
}

#blogMessageContainer {
  width: 100%;
  text-align: center;
  top: 45%;
  position: absolute;
}

#blogMessageContainer p {
  font-size: 2.5em;
}



/* Footnote */
#footnote {
  width: 100%;
  text-align: center;
  color: #232323;
  bottom: 5%;
  position: absolute;
}
