/* General CSS */
#recentProjects {
  width: 100%;
	height: 100%;
	background-color: white;
	position: relative;
}

#recentProjectsHeader {
	margin-top: 2.75em;
	margin-bottom: 1em;
	font-size: 2em;
	width: 100%;
	text-align: center;
}



/* Recent projects boxes */
.container {
	max-width: 100%;
}

.recentProjectsBox {
	height: 350px;
	background-color: #606060;
	text-align: center;
	background-size: 100% 100%;
}

.recentProjectsBox:hover {
	background-color: #232323;
	color: white;
}

#recentProjectsThallaIO {
	background-image: url('../../images/colorfulpic.jpg');
}

#recentProjectsTweetTime {
	background-image: url('../../images/colorfulpic2.jpg');
}

#recentProjectsUpward {
	background-image: url('../../images/colorfulpic3.jpg');
}



/* Overlay animations */
.recentProjectsBoxOverlay {
	height: 100%;
	padding-top: 30%;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0);
  transition-duration: .4s;
}

.recentProjectsBox:hover .recentProjectsBoxOverlay {
	opacity: 1;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
}

.recentProjectsBoxOverlay p {
	font-size: 2em;
	font-family: 'Muli:700', sans-serif;
}

.recentProjectsBoxViewButton {
	font-family: 'Muli', sans-serif;
	font-weight: 500;
	background: none;
  color: white;;
  font-size: 1em;
  border-color: white;
  border-width: 1px;
  padding: 6px 20px;
  cursor: pointer;
  border-radius: 2px;
  transition-duration: .4s;
}

.recentProjectsBoxViewButton:hover {
	background-color: white;
	color: #232323;
}



/* More projects button */
#recentProjectsMoreButton {
  font-family: 'Muli', sans-serif;;
  background-color: white;
  color: black;;
  font-size: 1.5em;
  border-color: #232323;
  border-width: 1px;
  padding: 14px 25px;
  cursor: pointer;
  border-radius: 2px;
  transition-duration: 0.4s;
  margin-top: 2em;
}

#recentProjectsMoreButton:hover {
  background-color: #333333;;
  color: white;
}
