/* General CSS */
#recentProjects {
	height: 100%;
	background-color: rgb(250, 250, 250);
}

#recentProjectsHeader {
	font-size: 1.8em;
	text-align: center;
	padding-top: 10%;
	padding-bottom: 10%;
	margin: 0;
}

#sliderStuff {
	width: 80%;
	margin: 0 auto;
}

.recentProjectsBox {
	height: 350px;
	width: 60%;
	background-color: #e00c0c;
	text-align: center;
	background-size: 100% 100%;
}

.slick-prev:before, .slick-next:before {
	color: black;
}

/* .recentProjectsBox:hover {
	background-color: #232323;
	color: white;
} */

#recentProjectsThallaIO {
	background-image: url('../../images/colorfulpic.jpg');
}

#recentProjectsTweetTime {
	background-image: url('../../images/colorfulpic2.jpg');
}

#recentProjectsUpward {
	background-image: url('../../images/colorfulpic3.jpg');
}



/* Overlay animations */
/* .recentProjectsBoxOverlay {
	height: 100%;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0);
	transition-duration: .2s;
	display: grid;
	align-items: center;
}

.recentProjectsBox:hover .recentProjectsBoxOverlay {
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.7);
}

.recentProjectsBoxName {
	color: white;
	transition: transform 0.2s linear;
	transform-style: preserve-3D;
	transform: scale(0.75);
}

.recentProjectsBox:hover .recentProjectsBoxName {
	opacity: 1;
	transform: scale(1.0);
}

.recentProjectsBoxOverlay p {
	font-size: 2em;
	font-family: 'Muli:700', sans-serif;
} */
/*
.recentProjectsBoxViewButton {
	font-family: 'Muli', sans-serif;
	font-weight: 500;
	background: none;
  color: white;;
  font-size: 1em;
  border-color: white;
  border-width: 1px;
  padding: 6px 20px;
  cursor: pointer;
  border-radius: 2px;
  transition-duration: .4s;
}*/

/* .recentProjectsBoxViewButton:hover {
	background-color: white;
	color: #232323;
} */



/* More projects button */
/* #recentProjectsMoreButton {
  font-family: 'Muli', sans-serif;;
  background-color: white;
  color: black;;
  font-size: 1.5em;
  border-color: #232323;
  border-width: 1px;
  padding: 14px 25px;
  cursor: pointer;
  border-radius: 2px;
  transition-duration: 0.4s;
  margin-top: 2em;
}

#recentProjectsMoreButton:hover {
  background-color: #333333;;
  color: white;
} */
