#experienceDescription {
  display: flex;
  margin-top: 30px;
}

#experienceCompany {
  font-weight: 400;
  color: #2196F3;
}

#experienceRole p {
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: .4rem;
}

#experienceLocation {
  font-weight: 600;
  margin-bottom: .4rem;
}

.experiencePic {
  width: 200px;
  height: 200px;
  border-radius: 20%;
  margin-top: 20px;
}

#experienceDetails {
  margin-left: 30px;
}

