#experience {
  background-color: #eee;
  padding-bottom: 4em;
  padding-top: 5em;
  height: 100%;
  position: relative;
}

#experience_title {
  text-align: center;
  width: 100%;
  font-size: 2.5em;
}

#slides_container {
  display: flex;
  margin: 0 auto;
  width: 60%;
  margin-top: 20px;
  height: 50%;
}

.slides_buttons {
  margin-top: 150px;
}

#somebuttoncontainer {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

#somebuttoncontainer button:focus {
  outline-style: none;
}

#right_button {
  border-style: solid;
  border-color: black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: .3rem;
  float: right;
  margin-left: 50px;

  cursor: pointer;

  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}

#right_button_holder {
  -moz-animation: bounce_right_button 2s infinite;
  -webkit-animation: bounce_right_button 2s infinite;
  animation: bounce_right_button 2s infinite;
}

#left_button {
  border-style: solid;
  border-color: black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: .3rem;
  float: left;
  margin-right: 50px;

  cursor: pointer;

  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#left_button_holder {
  -moz-animation: bounce_left_button 2s infinite;
  -webkit-animation: bounce_left_button 2s infinite;
  animation: bounce_left_button 2s infinite;
}

/* Arrow Holders */
#experience_arrowupholder {
  top: 5%;
  width: 100%;
  position: absolute;
  text-align: center;
}

#experience_arrowdownholder {
  bottom: 5%;
  width: 100%;
  position: absolute;
  text-align: center;
}
