/* Whole page CSS (top level div with id "container") */


/* CSS for Landing component */



/* this part is about component */ 


/* projects list */



#cardboxcontainer {
  width: 100%;
  text-align: center;
  margin-top: 5%;
}

#cardbox {
  width: 800px;
  height: 500px;
  box-shadow: 2px 4px #B8B8B8;
  background-color: #F2F2F2;
  display: inline-block;
}

.my-container {
  margin-top: 75px;
  height: 550px;
  margin-bottom: 200px;
  //border: 1px solid green;
  padding-bottom: 25px;
  box-shadow: 0 2px 7px -4px black;
}

.picrow {
  height: 70%;
}

.bodyrow {
  height: 30%;
}

.titlerow {
  height: 20%;
  padding-top: 15px;
}

.summaryrow {
  height: 65%;
  padding-top: 15px;
  padding-left: 10px;
}

.readmorerow {
  height: 15%;
  padding-top: 15px;
  padding-left: 10px;
}

#folespic {
  content: url("images/nickfolesblog.jpg");
  width: 100%;
  height: 100%;
}

