/* full page div and title  */ 
#recents {
  width: 100%;
  height: 100%;
}

#recents_title {
	margin-top: 2.75em;
	margin-bottom: 1em;
	font-size: 2em;
	width: 100%;
	text-align: center;
}

/* 3 latest projects (boxes and overlay animations) */
.container {
	max-width: 100%;
}

.recents_box {
	height: 350px;
	background-color: #606060;
	text-align: center;
	background-size: 100% 100%;
}

#recents_thallaio {
	background-image: url('../images/thallaiothumbnail.jpg');
}

#recents_uptothetwinute {
	background-image: url('../images/uptothetwinutethumbnail.jpg');
}

#recents_upward {
	background-image: url('../images/upwardhqthumbnail.jpg');
}

.recents_box:hover {
	background-color: #232323;
	color: white;
}


/* Overlay animations */
.recents_boxoverlay {
	height: 100%;
	padding-top: 30%;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0);
  transition-duration: .4s;
}

.recents_box:hover .recents_boxoverlay {
	opacity: 1;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
}

.recents_boxoverlay p {
	font-size: 1.8em;
	font-family: 'Muli:700', sans-serif;
}

.recents_viewbutton {
	font-family: 'Muli', sans-serif;
	font-weight: bold;
	background: none;
  color: white;;
  font-size: .9em;
  border-color: white;
  border-width: 1px;
  padding: 6px 20px;
  cursor: pointer;
  border-radius: 2px;
  transition-duration: .4s;
}

.recents_viewbutton:hover {
	background-color: white;
	color: #232323;
}

/* More projects button */
#recents_morebutton {
  font-family: 'Muli', sans-serif;;
  background-color: white;
  color: #232323;;
  font-size: 1.5em;
  border-color: #232323;
  border-width: 1px;
  padding: 14px 25px;
  cursor: pointer;
  border-radius: 2px;
  transition-duration: 0.4s;
  margin-top: 2em;
}

#recents_morebutton:hover {
  background-color: #333333;;
  color: white;
}

/* Arrow holders */
#recents_arrowupholder {
	margin-top: 35px;
  width: 100%;
  position: absolute;
  text-align: center;
}

#recents_arrowdownholder {
	margin-top: 45px;
  width: 100%;
  position: absolute;
  text-align: center;
}


