/* full page div and title  */ 
#recentprojectsfullpage {
  width: 100%;
  height: 100%;
}

#latestprojectstitle {
	margin-top: 2em;
	margin-bottom: 1em;
	font-size: 2em;
	width: 100%;
	text-align: center;
}

/* 3 latest projects (boxes and overlay animations) */
.container {
	max-width: 100%;
}

.projectsbox {
	height: 350px;
	background-color: #606060;
	text-align: center;
	background-size: 100% 100%;
}

#thallaiothumbnail {
	background-image: url('../images/thallaiothumbnail.jpg');
}

#timetweetthumbnail {
	background-image: url('../images/uptothetwinutethumbnail.jpg');
}

#upwardhqthumbnail {
	background-image: url('../images/upwardhqthumbnail.jpg');
}

.projectsbox:hover {
	background-color: #232323;
	color: white;
}


/* Overlay animations */
.projectsboxoverlay {
	height: 100%;
	padding-top: 30%;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0);
  transition-duration: .4s;
}

.projectsbox:hover .projectsboxoverlay {
	opacity: 1;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
}

.projectsboxoverlay p {
	font-size: 1.8em;
	font-family: 'Muli:700', sans-serif;
}

.projectsboxviewbutton {
	font-family: 'Muli', sans-serif;
	font-weight: bold;
	background: none;
  color: white;;
  font-size: .9em;
  border-color: white;
  border-width: 1px;
  padding: 6px 20px;
  cursor: pointer;
  border-radius: 2px;
  transition-duration: .4s;
}

.projectsboxviewbutton:hover {
	background-color: white;
	color: #232323;
}

/* More projects button */
#moreprojectsbutton {
  font-family: 'Muli', sans-serif;;
  background-color: white;
  color: #232323;;
  font-size: 1.5em;
  border-color: #232323;
  border-width: 1px;
  padding: 14px 25px;
  cursor: pointer;
  border-radius: 2px;
  transition-duration: 0.4s;
  margin-top: 2em;
}

#moreprojectsbutton:hover {
  background-color: #333333;;
  color: white;
}
